.introduction-wrapper {
    margin-left: 50px;
}

.introduction-title {
    font-weight: 700;
    font-size: 2.3rem;
    margin-top: 40px;
}

.introduction-blurb {
    font-weight: 500;
    font-size: 2rem;
    margin-top: 50px;
    color: #164473;
    font-weight: 600;
    /* margin-top: auto; 
    margin-bottom: auto; */
}